{% extends "base.html" %}

{% block title %}
 登录
{% endblock %}

{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>
            用户名或者密码错误，请重试。
        </p>
    {% else %}
        <p>请使用下面表单登录系统，如果您还没有账号，点击 <a href="{% url "register" %}">注册</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="登录"></p>
        </form>
        <p><a href="{% url "password_reset" %}">忘记密码？</a></p>
    </div>

    <div class="social">
    <ul>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
        </li>
    </ul>
</div>
{% endblock %}

